@import url("./header.css");
@import url("./fonts.css");
@import url("./banner.css");
@import url("./carrossel.css");
@import url("./topicos.css");
@import url("./contato.css");
@import url("./rodape.css");

:root{
    --cor-cinza-primaria: #EBECEE;
    --branco: #ffffff;
    --preto: #000000;
    --cor-destaque:#EB9B00;
    --font-primaria: 'Poppins', sans-serif;
    --font-secundaria: 'Josefin Sans', sans-serif;
    --cor-texto: #002F52;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --azul: #002F52;
}

body{
    background-color: var(--cor-cinza-primaria);
    font-family: var(--font-primaria);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;  
    
}
